In [31]:
# Question 1
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [33]:
spark

In [20]:
# Question 2
!sudo wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-02.parquet -P data

--2023-02-09 00:04:42--  https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-02.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 108.138.245.58, 108.138.245.225, 108.138.245.16, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|108.138.245.58|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 302633211 (289M) [application/x-www-form-urlencoded]
Saving to: ‘data/fhvhv_tripdata_2021-02.parquet’

fhvhv_tripdata_2021 100%[===================>] 288.61M  20.4MB/s    in 15s

2023-02-09 00:04:58 (18.7 MB/s) - ‘data/fhvhv_tripdata_2021-02.parquet’ saved [302633211/302633211]

In [23]:
import pandas as pd

In [26]:
# Read parquet file into pandas df and check data by creating df_head
df_fhvhv = pd.read_parquet('/data/fhvhv_tripdata_2021-02.parquet')
df_fhvhv_head = df_fhvhv.head(10)
df_fhvhv_head

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02764,B02764,2021-01-31 23:59:00,2021-02-01 00:10:19,2021-02-01 00:10:40,2021-02-01 00:21:09,35,39,2.060,...,1.52,0.0,NaN,0.0,9.79,N,N,,N,N
1,HV0003,B02764,B02764,2021-02-01 00:13:35,2021-02-01 00:25:23,2021-02-01 00:27:23,2021-02-01 00:44:01,39,35,3.150,...,2.85,0.0,NaN,0.0,24.01,N,N,,N,N
2,HV0005,B02510,None,2021-02-01 00:12:55,NaT,2021-02-01 00:28:38,2021-02-01 00:38:27,39,91,1.776,...,1.12,0.0,NaN,0.0,6.91,N,N,N,N,N
3,HV0005,B02510,None,2021-02-01 00:36:01,NaT,2021-02-01 00:43:37,2021-02-01 01:23:20,91,228,13.599,...,2.91,0.0,NaN,7.0,35.05,N,N,N,N,N
4,HV0003,B02872,B02872,2021-01-31 23:57:50,2021-02-01 00:08:25,2021-02-01 00:08:42,2021-02-01 00:17:57,126,250,2.620,...,1.38,0.0,NaN,0.0,8.53,N,N,,N,N
5,HV0003,B02872,B02872,2021-02-01 00:11:48,2021-02-01 00:24:25,2021-02-01 00:26:02,2021-02-01 00:42:51,208,243,6.890,...,1.77,0.0,NaN,0.0,16.05,N,N,,N,N
6,HV0003,B02872,B02872,2021-02-01 00:39:45,2021-02-01 00:44:57,2021-02-01 00:45:50,2021-02-01 01:02:50,243,220,4.260,...,3.76,0.0,NaN,0.0,25.42,N,N,,N,N
7,HV0003,B02764,B02764,2021-01-31 23:55:59,2021-02-01 00:04:42,2021-02-01 00:06:42,2021-02-01 00:31:50,49,37,2.950,...,2.40,0.0,NaN,0.0,22.29,N,N,,N,N
8,HV0003,B02764,B02764,2021-02-01 00:27:54,2021-02-01 00:33:12,2021-02-01 00:34:34,2021-02-01 00:58:13,37,76,3.410,...,2.03,0.0,NaN,0.0,23.77,N,N,,N,N
9,HV0005,B02510,None,2021-01-31 23:56:04,NaT,2021-02-01 00:03:43,2021-02-01 00:39:37,80,241,15.998,...,4.44,0.0,NaN,0.0,35.80,N,N,N,N,N

In [27]:
# Show the schema of a Spark df created from a pandas df
spark.createDataFrame(df_fhvhv_head).schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(originating_base_num,StringType,true),StructField(request_datetime,TimestampType,true),StructField(on_scene_datetime,TimestampType,true),StructField(pickup_datetime,TimestampType,true),StructField(dropoff_datetime,TimestampType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(trip_miles,DoubleType,true),StructField(trip_time,LongType,true),StructField(base_passenger_fare,DoubleType,true),StructField(tolls,DoubleType,true),StructField(bcf,DoubleType,true),StructField(sales_tax,DoubleType,true),StructField(congestion_surcharge,DoubleType,true),StructField(airport_fee,DoubleType,true),StructField(tips,DoubleType,true),StructField(driver_pay,DoubleType,true),StructField(shared_request_flag,StringType,true),StructField(shared_match_flag,StringType,true),StructField(access_a_ride_flag,StringType,true),StructField(wav_request_flag,StringType,true),StructField(wav_match_flag,StringType,true)))

In [29]:
filename = 'fhvhv_tripdata_2021-02.parquet'
print(f'Processing data for {filename}...')
input_path = 'data/'
output_path = 'data_partition/'

# Overwrite pd df as spark df
df_fhvhv = spark.read \
    .option("header", "true") \
    .parquet(input_path)

#Repartition to 24 partitions
df_fhvhv \
    .repartition(24) \
    .write.parquet(output_path)

Processing data for fhvhv_tripdata_2021-02.parquet...

In [44]:
!du -sh ../data_partition/

515M	../data_partition/

In [47]:
# Read partitioned parquet by parsing directory as spark df
df_fhvhv_pt = spark.read.parquet('data_partition')

In [48]:
# Register temp table to do SQL on it
df_fhvhv_pt.registerTempTable('fhvhv_pt')

In [72]:
spark.sql("""
SELECT
    COUNT(*)
FROM
    fhvhv_pt
WHERE
    TO_DATE(pickup_datetime) = "2021-02-15";
""").show()

+--------+
|count(1)|
+--------+
|  367170|
+--------+

In [120]:
spark.sql("""
SELECT
    EXTRACT(DAY FROM pickup_datetime) AS day,
    COUNT(EXTRACT(DAY FROM pickup_datetime))
FROM
    fhvhv_pt
GROUP BY day
ORDER BY day
-- WHERE
--    "
""").show(3)

+---+-----------------------------------------------------+
|day|count(extract('DAY' FROM fhvhv_pt.`pickup_datetime`))|
+---+-----------------------------------------------------+
|  1|                                               176946|
|  2|                                               302785|
|  3|                                               421697|
+---+-----------------------------------------------------+
only showing top 3 rows

In [118]:
from pyspark.sql.functions import *
select_cols = ['pickup_datetime', 'dropoff_datetime', 'TripDurationInSeconds', 'TripDurationInMinutes']
df_fhvhv_pt_duration=df_fhvhv_pt \
    .withColumn('TripDurationInSeconds', col("dropoff_datetime").cast("long") - col('pickup_datetime').cast("long")) \
    .withColumn('TripDurationInMinutes', round(col("TripDurationInSeconds")/60,1)) \
    .select(select_cols)
df_fhvhv_pt_duration.show(3)

+-------------------+-------------------+---------------------+---------------------+
|    pickup_datetime|   dropoff_datetime|TripDurationInSeconds|TripDurationInMinutes|
+-------------------+-------------------+---------------------+---------------------+
|2021-02-11 20:38:00|2021-02-11 20:42:37|                  277|                  4.6|
|2021-02-13 23:07:38|2021-02-13 23:12:57|                  319|                  5.3|
|2021-02-28 20:52:18|2021-02-28 21:01:00|                  522|                  8.7|
+-------------------+-------------------+---------------------+---------------------+
only showing top 3 rows

In [119]:
df_fhvhv_pt_duration \
    .groupby(to_date('pickup_datetime')) \
    .avg() \
    .sort(avg('TripDurationInMinutes').desc()) \
    .show(3)

+--------------------------+--------------------------+--------------------------+
|to_date(`pickup_datetime`)|avg(TripDurationInSeconds)|avg(TripDurationInMinutes)|
+--------------------------+--------------------------+--------------------------+
|                2021-02-04|        1147.4014095252628|        19.131712649487973|
|                2021-02-05|         1099.123832937176|         18.32713455007255|
|                2021-02-26|        1095.1929630896173|        18.261583764791027|
+--------------------------+--------------------------+--------------------------+
only showing top 3 rows

In [140]:
df_fhvhv_pt \
    .groupby("dispatching_base_num") \
    .count() \
    .sort((col("count")).desc()) \
    .show(3)

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02510|3233664|
|              B02764| 965568|
|              B02872| 882689|
+--------------------+-------+
only showing top 3 rows

In [143]:
# Download taxi lookup table csv file
!sudo wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2023-02-09 02:25:26--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 143.204.130.13, 143.204.130.167, 143.204.130.121, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|143.204.130.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-02-09 02:25:27 (30.6 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [144]:
pwd

'/home/kelvin/de-zoomcamp/week_5/homework/data'

In [146]:
# Read taxi zone csv in to pandas df
df_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [148]:
# Check data
df_zone_head = df_zone.head(10)
df_zone_head

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [151]:
# Create spark df
df_zone = spark.read \
    .option("header", "true") \
    .csv('data/taxi+_zone_lookup.csv')

In [289]:
# Join tables
df_join = df_fhvhv_pt \
    .join(df_zone.alias("pickup_zone"), col("PULocationID") == col("pickup_zone.LocationID")) \
    .join(df_zone.alias('dropoff_zone'), col("DOLocationID") == col("dropoff_zone.LocationID"))
df_result = df_join \
    .select(col('pickup_zone.Zone').alias('pickup_zone'),
        col('dropoff_zone.Zone').alias('dropoff_zone'),
        concat_ws('/', 'pickup_zone.Zone','dropoff_zone.Zone').alias("Pair"))

In [287]:
df_result.show(3, truncate=False)

+-------------------------+---------------------+--------------------------------------+
|pickup_zone              |dropoff_zone         |Pair                                  |
+-------------------------+---------------------+--------------------------------------+
|Norwood                  |Van Cortlandt Village|Norwood/Van Cortlandt Village         |
|Times Sq/Theatre District|East Chelsea         |Times Sq/Theatre District/East Chelsea|
|Saint Albans             |Hollis               |Saint Albans/Hollis                   |
+-------------------------+---------------------+--------------------------------------+
only showing top 3 rows

In [285]:
# Find highest pickup/dropoff pair
df_result.groupby('Pair').count().sort(col('count').desc()).show(3, truncate=False)

+---------------------------+-----+
|Pair                       |count|
+---------------------------+-----+
|East New York/East New York|45041|
|Borough Park/Borough Park  |37329|
|Canarsie/Canarsie          |28026|
+---------------------------+-----+
only showing top 3 rows