In [1]:
# Question 1
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/kelvin/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
23/02/25 12:16:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
spark

In [3]:
# Question 2
!sudo wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-06.parquet -P data

--2023-02-25 12:17:57--  https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-06.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 108.138.245.58, 108.138.245.225, 108.138.245.96, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|108.138.245.58|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 394114750 (376M) [application/x-www-form-urlencoded]
Saving to: ‘data/fhvhv_tripdata_2021-06.parquet’

fhvhv_tripdata_2021 100%[===================>] 375.86M  20.4MB/s    in 20s

2023-02-25 12:18:18 (19.0 MB/s) - ‘data/fhvhv_tripdata_2021-06.parquet’ saved [394114750/394114750]

In [6]:
pwd

'/home/kelvin/de-zoomcamp/week_5/2023'

In [7]:
import pandas as pd
# Read parquet file into pandas df and check data by creating df_head
df_fhvhv = pd.read_parquet('data/fhvhv_tripdata_2021-06.parquet')
df_fhvhv_head = df_fhvhv.head(10)
df_fhvhv_head

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02764,B02764,2021-05-31 23:53:49,2021-06-01 00:02:23,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,1.000,...,0.72,0.00,0.0,0.0,7.03,N,N,,N,N
1,HV0003,B02764,B02764,2021-06-01 00:08:40,2021-06-01 00:15:20,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,1.390,...,0.84,0.00,0.0,0.0,9.03,N,N,,N,N
2,HV0003,B02764,B02764,2021-06-01 00:15:26,2021-06-01 00:24:48,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,5.510,...,1.74,0.00,0.0,0.0,15.34,N,N,,N,N
3,HV0003,B02764,B02764,2021-06-01 00:22:29,2021-06-01 00:44:48,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,1.500,...,0.75,0.00,0.0,1.0,9.13,N,N,,N,N
4,HV0005,B02510,None,2021-06-01 00:42:14,NaT,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,5.072,...,2.71,2.75,0.0,0.0,18.21,N,N,N,N,N
5,HV0005,B02510,None,2021-06-01 00:14:30,NaT,2021-06-01 00:18:15,2021-06-01 00:25:47,49,17,0.876,...,0.86,0.00,0.0,0.0,5.47,N,N,N,N,N
6,HV0005,B02510,None,2021-06-01 00:21:47,NaT,2021-06-01 00:33:06,2021-06-01 00:42:46,49,225,1.834,...,1.11,0.00,0.0,0.0,6.89,N,N,N,N,N
7,HV0005,B02510,None,2021-06-01 00:42:01,NaT,2021-06-01 00:46:27,2021-06-01 00:56:50,225,177,1.676,...,0.92,0.00,0.0,0.0,7.08,N,N,N,N,N
8,HV0003,B02764,B02764,2021-06-01 00:40:30,2021-06-01 00:43:07,2021-06-01 00:48:06,2021-06-01 01:04:10,209,45,0.960,...,3.94,2.75,0.0,0.0,28.41,N,N,,N,N
9,HV0003,B02875,B02875,2021-06-01 00:11:42,2021-06-01 00:17:53,2021-06-01 00:18:54,2021-06-01 00:26:14,80,256,1.310,...,0.66,0.00,0.0,0.0,11.14,N,N,,N,N

In [8]:
# Show the schema of a Spark df created from a pandas df
spark.createDataFrame(df_fhvhv_head).schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(originating_base_num,StringType,true),StructField(request_datetime,TimestampType,true),StructField(on_scene_datetime,TimestampType,true),StructField(pickup_datetime,TimestampType,true),StructField(dropoff_datetime,TimestampType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(trip_miles,DoubleType,true),StructField(trip_time,LongType,true),StructField(base_passenger_fare,DoubleType,true),StructField(tolls,DoubleType,true),StructField(bcf,DoubleType,true),StructField(sales_tax,DoubleType,true),StructField(congestion_surcharge,DoubleType,true),StructField(airport_fee,DoubleType,true),StructField(tips,DoubleType,true),StructField(driver_pay,DoubleType,true),StructField(shared_request_flag,StringType,true),StructField(shared_match_flag,StringType,true),StructField(access_a_ride_flag,StringType,true),StructField(wav_request_flag,StringType,true),StructField(wav_match_flag,StringType,true)))

In [9]:
filename = 'fhvhv_tripdata_2021-06.parquet'
print(f'Processing data for {filename}...')
input_path = 'data/'
output_path = 'data_partition/'

# Overwrite pd df as spark df
df_fhvhv = spark.read \
    .option("header", "true") \
    .parquet(input_path)

#Repartition to 12 partitions
df_fhvhv \
    .repartition(12) \
    .write.parquet(output_path)

Processing data for fhvhv_tripdata_2021-06.parquet...

In [11]:
!du -sh ../data_partition/

du: cannot access '../data_partition/': No such file or directory

In [13]:
# Read partitioned parquet by parsing directory as spark df
df_fhvhv_pt = spark.read.parquet('data_partition')

# Register temp table to do SQL on it
df_fhvhv_pt.registerTempTable('fhvhv_pt')

# Count trips starting on 2021-01-15
spark.sql("""
SELECT
    COUNT(*)
FROM
    fhvhv_pt
WHERE
    TO_DATE(pickup_datetime) = "2021-06-15";
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [23]:
from pyspark.sql.functions import *
select_cols = ['pickup_datetime', 'dropoff_datetime', 'TripDurationInSeconds', 'TripDurationInMinutes','TripDurationInHours']
df_fhvhv_pt_duration=df_fhvhv_pt \
    .withColumn('TripDurationInSeconds', col("dropoff_datetime").cast("long") - col('pickup_datetime').cast("long")) \
    .withColumn('TripDurationInMinutes', round(col("TripDurationInSeconds")/60,1)) \
    .withColumn('TripDurationInHours', round(col("TripDurationInMinutes")/60,1)) \
    .select(select_cols)
df_fhvhv_pt_duration.show(10)

+-------------------+-------------------+---------------------+---------------------+-------------------+
|    pickup_datetime|   dropoff_datetime|TripDurationInSeconds|TripDurationInMinutes|TripDurationInHours|
+-------------------+-------------------+---------------------+---------------------+-------------------+
|2021-06-16 17:48:46|2021-06-16 18:45:19|                 3393|                 56.6|                0.9|
|2021-06-26 16:01:51|2021-06-26 16:06:57|                  306|                  5.1|                0.1|
|2021-06-22 13:15:19|2021-06-22 13:48:41|                 2002|                 33.4|                0.6|
|2021-06-28 22:59:08|2021-06-28 23:19:44|                 1236|                 20.6|                0.3|
|2021-06-10 21:05:51|2021-06-10 21:44:42|                 2331|                 38.9|                0.6|
|2021-06-26 14:48:00|2021-06-26 15:18:00|                 1800|                 30.0|                0.5|
|2021-06-26 06:23:44|2021-06-26 06:35:37|                  713|                 11.9|                0.2|
|2021-06-08 20:43:25|2021-06-08 21:33:06|                 2981|                 49.7|                0.8|
|2021-06-09 08:08:46|2021-06-09 08:24:07|                  921|                 15.4|                0.3|
|2021-06-10 07:30:50|2021-06-10 07:46:01|                  911|                 15.2|                0.3|
+-------------------+-------------------+---------------------+---------------------+-------------------+
only showing top 10 rows

In [24]:
df_fhvhv_pt_duration \
    .sort(col('TripDurationInHours').desc()) \
    .show(3)

+-------------------+-------------------+---------------------+---------------------+-------------------+
|    pickup_datetime|   dropoff_datetime|TripDurationInSeconds|TripDurationInMinutes|TripDurationInHours|
+-------------------+-------------------+---------------------+---------------------+-------------------+
|2021-06-25 13:55:41|2021-06-28 08:48:25|               240764|               4012.7|               66.9|
|2021-06-22 12:09:45|2021-06-23 13:42:44|                91979|               1533.0|               25.6|
|2021-06-27 10:32:29|2021-06-28 06:31:20|                71931|               1198.9|               20.0|
+-------------------+-------------------+---------------------+---------------------+-------------------+
only showing top 3 rows

In [ ]:
# Download taxi lookup table csv file
!sudo wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

In [30]:
# Read taxi zone csv in to pandas df
df_zone = pd.read_csv('taxi+_zone_lookup.csv')

# Create speak df
df_zone = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

# Join tables
df_join = df_fhvhv_pt \
    .join(df_zone.alias("pickup_zone"), col("PULocationID") == col("pickup_zone.LocationID")) \
    .join(df_zone.alias('dropoff_zone'), col("DOLocationID") == col("dropoff_zone.LocationID"))
df_result = df_join \
    .select(col('pickup_zone.Zone').alias('pickup_zone'),
        col('dropoff_zone.Zone').alias('dropoff_zone'))
# Find highest pickup/dropoff pair
df_result.groupby('pickup_zone').count().sort(col('count').desc()).show(3, truncate=False)

+-------------------+------+
|pickup_zone        |count |
+-------------------+------+
|Crown Heights North|231279|
|East Village       |221244|
|JFK Airport        |188867|
+-------------------+------+
only showing top 3 rows